.navbar-container {
    background: url('../../statics/images/47fb3c_.jpg') no-repeat 0 0;
    width: 100%;
    height: 300px;
    color: #bebbaa;
}

.navbar {
    display: block;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.header {
    padding: 20px;
    width: 100%;
}

.cover-src{
    width: 100px;
}

.menu-ul {
    display: block;
    margin: 0;
    padding-left: 0;
    list-style: none;
    float: right;
    padding-right: 50px;
}

.menu {
    float: left;
    margin: 0 0 0 40px;
    position: relative;
    cursor: pointer;
}

.action {
    color: #fff;
}

.user-cover{
    color: #fff;
    text-align: center;
    margin-top: 100px;
}